django==3.2.19
djangorestframework==3.13.1
django-rest-auth==0.9.5
django-allauth==0.47.0
django-cors-headers==3.10.1
markdown==3.0.1
django-filter==2.4.0
PyYAML==5.4.1
more-itertools==5.0.0
PyNaCl==1.5.0
django-redis==5.2.0
ntplib==0.3.4
python-dateutil==2.7.5
requests==2.28.1

google-cloud-storage==2.6.0
apache-libcloud==3.6.1
boto3==1.26.8
paramiko==2.12.0

django-storages[azure,boto3,google,libcloud,sftp]==1.13.1
