six
cffi
django
djangorestframework
django-rest-auth
django-allauth
django-cors-headers
markdown
django-filter
pyyaml
more_itertools
pynacl
django-redis
ntplib
python-dateutil
django-storages
django-storages[google]
django-storages[azure]
django-storages[dropbox]
django-storages[libcloud]
django-storages[boto3]
django-storages[sftp]
